* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

.container {
  min-height: 100vh;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #181818 0%, #0e0e0e 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 720px) {
  *[data-responsive="desktop"] {
    display: none !important;
  }
}

@media (min-width: 720px) {
  *[data-responsive="mobile"] {
    display: none !important;
  }
}

svg.bg {
  position: absolute;
  opacity: 1;
  width: 110%;
  top: 0;
  left: -5%;
  z-index: 0;
}

i.gradient-text {
  background: linear-gradient(87.52deg, #2b37e4 0%, #0b69f2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4rem;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

header .logo {
  margin-left: 1rem;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .logo img {
  height: 100%;
}

header .logo span {
  margin-left: 2rem;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 700;
}

header .hamburguer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 1rem;
}

header .hamburguer span {
  width: 3rem;
  height: 0.35rem;
  background: white;
  border-radius: 4px;
  position: relative;
}

header .hamburguer span::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  right: 0;
  width: 2rem;
  height: 0.35rem;
  background: white;
  border-radius: 4px;
}

.mobile-nav {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 35% 0;
  overflow: hidden;
  -webkit-clip-path: circle(0 at 90% 10%);
          clip-path: circle(0 at 90% 10%);
}

.mobile-nav ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mobile-nav ul li a {
  padding: 1rem;
  margin: 5rem;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  color: white;
  font-weight: 400;
  position: relative;
}

.mobile-nav ul li a::after {
  content: "";
  width: 0%;
  height: 0.5rem;
  background: linear-gradient(87.52deg, #2b37e4 0%, #0b69f2 100%);
  position: absolute;
  bottom: 0rem;
  left: 0;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile-nav ul li a:hover::after {
  width: 100%;
}

main {
  width: 100%;
}

section {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  display: block;
}

#hero {
  height: 100vh;
  overflow: hidden;
  padding: 4rem 0 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#hero .content {
  height: 70%;
  z-index: 1;
  width: 90%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#hero .content .strong {
  width: 100%;
}

#hero .content .buttons {
  width: 80%;
}

#hero .content .buttons a {
  display: block;
  text-align: center;
  padding: 1.5rem 0;
  width: 100%;
  margin-top: 1rem;
  border-radius: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  color: white;
  font-weight: 500;
}

#hero .content .buttons a:first-child {
  background: linear-gradient(87.52deg, #2b37e4 0%, #0b69f2 100%);
}

#hero .content .buttons a:last-child {
  background: transparent;
  border: 2px solid #1b50eb;
}

#hero .arrow-down {
  width: 20px;
  height: auto;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  z-index: 6;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
